scripts/out*

.idea/
*.iml
code/
node_modules/
helper/
*leifert*
error*.txt
.DS_Store
maps/
docs/gen/
coverage/
.coverage/
pki/
.vscode/
jcoverage/
view/

\.jsinspect-results\.json

certificates/

dist/
